progress {
    display: none;
    width: 100%;

    &.active {
        display: inline-block;
    }
}

.card-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;

    .card {
        min-width: 400px;
        flex: 1;
        padding: 1rem;
        border-radius: 5px;
        box-shadow: 0 0 51px #d5d5d5;
    }
}

.status-input {
    .cancel-btn {
        width: 100%;
    }

    .options-wrap {
        display: flex;
        flex-wrap: wrap;
        gap: 0.7rem;

        button {
            flex: 1;
            min-width: fit-content;
            padding: 1rem;
        }
    }
}

.header-topbar {
    display: flex;
    justify-content: center;
    width: 100%;

    .container {
        flex-direction: row;

        > div {
            display: flex;
            align-items: center;
        }
    }

    .logo-wrap {
        margin-right: auto;
    }

    .icon-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0.2rem;
        border-radius: 0.2rem;
        width: auto;
        height: 3.5rem;
        text-decoration: none;
        cursor: pointer;

        .logo-image {
            width: auto;
            height: 100%;
        }
    }
}

.prompt {
    background-color: #333;
    border-radius: 0.7rem;
    color: #f7f7f7;
    padding: 1rem;
    width: 100%;

    p {
        margin: 0;
        margin-bottom: 0.5rem;
    }

    p::before {
        content: '> ';
        display: inline;
        font-weight: bold;
    }
}
