progress {
    display: none;
    width: 100%;

    &.active {
        display: inline-block;
    }
}

.card-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;

    .card {
        min-width: 400px;
        flex: 1;
        padding: 1rem;
        border-radius: 5px;
        box-shadow: 0 0 51px #d5d5d5;
    }
}
