p {
    margin-top: 0;
    margin-bottom: 0.5rem;
}

input {
    width: 100%;
    margin-bottom: 0.3rem;
}

textarea,
[field-type="html-editor"] {
    min-height: 10rem;
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;

    img {
        width: 98%;
    }
}

.float-input {
    border: none;
    box-shadow: 0 0 50px #d5d5d5;
    border-radius: 0.3rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 0.7rem;
    font-size: 1rem;

    &[padding="l"] {
        padding: 2rem;
    }

    &[padding="l"] {
        padding: 1.5rem;
    }

    &[padding="m"] {
        padding: 1rem;
    }
}

.readedit-form {
    margin-bottom: 1rem;
    width: 100%;

    &[view=read] {
        cursor: pointer;
        user-select: none;
    }
    
    label {
        display: inline-block;
        font-weight: bold;
        font-size: 0.9rem;
        width: 100%;
    }

    a,
    select {
        display: inline-block;
    }
}

[view] [view] {
    display: none;
}

[view="create"] {
    [view="edit"] {
        display: inline-block;
    }

    button[view="edit"] {
        display: none;
    }
}


[view="read"] {
    [view="read"] {
        display: inline-block;
    }
}

[view="edit"] {
    [view="edit"] {
        display: inline-block;
    }
}

.checkbox-group {
    display: flex;
    flex-direction: column;

    .checkbox-option {
        display: flex;
        justify-items: start;
        flex: 1;

        input {
            width: auto;
        }

        label {
            margin-right: auto;
        }
    }
    
}

.error {
    background: #ffc7c7;
    border: 1px solid red;

    .error-message {
        color: red;
        font-size: 0.85rem;
        font-weight: bold;
        margin: 0;
    }
}

.branch-switcher {
    .select-input {
        width: 100%;
    
        label {
            font-size: 1.1rem;
        }
    }
}
