*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
}

body {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5 {
    margin: 0.2rem 0;
    font-weight: bold;
}

h1 {
    font-size: 2.3rem;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.3rem;
}

h4 {
    font-size: 1.2rem;
}

h5 {
    font-size: 1.1rem;
}

p {
    font-size: 1rem;
    margin: 0.1rem;
}

button,
.button {
    cursor: pointer;
    border: 0;
    padding: 0.6rem;
    background-color: #32474f;
    color: hsl(197 22% 94% / 1);
    border-radius: 0.3rem;
    transition: background-color 200ms;
    display: inline-block;
    text-transform: uppercase;

    &:disabled {
        background-color: hsl(197 22% 90% / 1);
        color: #32474f;
    }

    &:hover {
        background-color: hsl(197, 22%, 40%);
        color: hsl(197 22% 94% / 1);
    }

    &.transparent {
        background-color: transparent;
        color: #32474f;

        &:hover {
            background-color: transparent;
            color: inherit;
        }
    }

    &.link {
        text-decoration: underline;
    }

    &.stretch {
        min-width: 100%
    }
}

pre {
    text-wrap: balance;
}

ul {
    padding-inline-start: 1rem;

    li {
        margin-bottom: 0.5rem;
    }
}

.hide {
    display: none !important;
}
