.content {
    .content-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.container {
    display: flex;
    flex-direction: column;
    width: 97%;
    max-width: 1920px;
}

.header-component {
    display: flex;
    justify-content: space-between;
}

.fill-right {
    margin-right: auto;
}

.fill-left {
    margin-left: auto;
}

.fullwidth {
    width: 100%;
}

[layout="menu-content-sidebar"] {
    display: flex;
    gap: 1rem;
    width: 97%;
    margin: 0 auto;

    .menu {
        flex: 0;
    }

    .content {
        flex: 3;
    }

    .sidebar {
        flex: 1;
    }
}
