@import './standard.scss';

.modal {
    align-items: center;
    bottom: 0;
    display: flex;
    justify-content: center;
    left: 0;
    right: 0;
    top: 0;
    margin: 0;
    padding: 0;
    position: fixed;
}
