[modal=standard] {
    backdrop-filter: blur(11px);

    &.minimize {
        backdrop-filter: blur(0);
        align-items: end;
        justify-content: end;
        left: auto;
        top: auto;

        .modal-container {
            max-width: fit-content;
            min-width: fit-content;
        }

        .modal-body {
            display: none;
        }
    }

    .modal-header {
        display: flex;
        justify-content: space-between;

        .fill-right {
            margin-right: auto;
        }

        .fill-left {
            margin-left: auto;
        }

        button {
            margin-left: 0.4rem;
        }
    }

    .modal-container {
        background-color: #FFF;
        border-radius: 0.7rem;
        box-shadow: 0 0 50px #333;
        max-width: 1024px;
        width: 95%;

        &.fullscreen {
            border-radius: 0;
            box-shadow: none;
            height: 100%;
            width: 100%;
        }

        .modal-header {
            padding: 1rem;
        }

        .modal-body {
            padding: 1rem;
        }
    }
}
