* {
    box-sizing: border-box;
}

p {
    margin-top: 0;
    margin-bottom: 0.5rem;
}

input {
    width: 100%;
    margin-bottom: 0.3rem;
}

textarea {
    min-height: 10rem;
    width: 100%;
}

progress {
    display: none;
    width: 100%;
}

progress.active {
    display: inline-block;
}

.readedit-form {
    margin-bottom: 1rem;
    width: 100%;
}

.readedit-form label {
    display: inline-block;
    font-weight: bold;
    font-size: 0.9rem;
    width: 100%;
}

.readedit-form a,
.readedit-form select {
    display: inline-block;
}

[view="create"] [view="edit"] {
    display: block;
}

[view="create"] [view="read"] {
    display: none;
}

[view="read"] [view="edit"] {
    display: none;
}

[view="edit"] [view="read"] {
    display: none;
}

.card-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.card-grid .card {
    max-width: calc(50% - 1rem);
    min-width: calc(50% - 1rem);
    flex: 1;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 0 51px #d5d5d5;
}

.checkbox-group {
    display: flex;
    flex-direction: column;
}

.checkbox-group .checkbox-option {
    display: flex;
    justify-items: start;
    flex: 1;
}

.checkbox-group .checkbox-option input {
    width: auto;
}

.checkbox-group .checkbox-option label {
    margin-right: auto;
}
